.slider {
    overflow: hidden;
    height: calc(100vh - 50px);
    position: relative;

    .slick-slider {
        max-width: 100%;
        max-height: 100%;
    }

    .slick-prev {
        left: 10%;
    }

    .slick-next {
        right: 10%;
    }

    .icons {
        width: 100%;
        z-index: 100;
        position: absolute;
        top: 0;
        bottom: 0;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    // img {
    //     max-width: 100%;
    // }
}
